
DataLibrary/bin/Debug/

DataLibrary/obj/Debug/

DataLibrary/obj/Release/

Models/bin/Debug/

Models/obj/Debug/

Models/obj/Release/

MyCV/bin/Debug/

MyCV/bin/Release/

MyCV/obj/Debug/

MyCV/obj/Release/

Services/bin/Debug/

Services/obj/Debug/

Services/obj/Release/

Models/bin/Release/

DataLibrary/bin/Release/

Services/bin/Release/
